<h4>Categories: </h4>
<hr>
{{#each categories}}
    <div class="card mt-2">
        <div class="card-body">
            <a href="/categories/{{slug}}"><h5>{{name}}</h5></a>
        </div>
    </div>
{{else}}

{{/each}}